<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier un ticket</title>
    <link rel="stylesheet" href="/styles/my-tailwind.css" />
  </head>
  <body>
    <%- include('_header.ejs') %>
    <h2><%= ticket.titre %></h2>
    <p><%= ticket.description %></p>
    <p>
      <a href="/tickets/<%= ticket.id %>/modifier">Modifier</a>
      <a href="/tickets/<%= ticket.id %>/supprimer">Supprimer</a>
    </p>
  </body>
</html>
