<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <h1>Tickets</h1>

    <h2><a href="/tickets/ajouter">Ajouter un ticket</a></h2>

    <% for (let i = 0; i < tickets.length; i++) { %>
    <div>
      <h2>
        <a href="/tickets/<%= tickets[i].id %>"> <%= tickets[i].titre %></a>
      </h2>
      <p><%- tickets[i].description %></p>
      <p>
        <a href="/tickets/<%= tickets[i].id %>/modifier">Modifier</a>
        <a href="/tickets/<%= tickets[i].id %>/supprimer">Supprimer</a>
      </p>
    </div>
    <% } %>
  </body>
</html>
